@charset "UTF-8";
/*
	順序上位於 base/variable 之前，因此不能使用任何 base/variable 變數 
*/
/* line 483, ../sass/_base_function.scss */
.p-hearder .simple-text.major-logo .ct a {
  font: 0/0 a;
  color: transparent;
}

/* line 938, ../sass/_base_function.scss */
.p-hearder .simple-text.major-logo .ct a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 950, ../sass/_base_function.scss */
.Process .ct_box .cp.is-active > .bg-drop-layout > .in .hd .in h4:before, .Process .ct_box .cp.is-active > .in .hd .in h4:before, .Process .ct_box .cp .in .hd .in h4:before {
  content: "​";
  display: inline-block;
  vertical-align: middle;
}

@font-face {
  font-family: 'icomoon';
  src: url("../images/icon-font/icomoon.eot?59oic8");
  src: url("../images/icon-font/icomoon.eot?#iefix59oic8") format("embedded-opentype"), url("../images/icon-font/icomoon.ttf?59oic8") format("truetype"), url("../images/icon-font/icomoon.woff?59oic8") format("woff"), url("../images/icon-font/icomoon.svg?59oic8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1296, icon-pic/*.png */
.icon-pic-sprite, .icon-pic-Xfont-large, .icon-pic-Xfont-medium, .icon-pic-Xfont-smail, .icon-pic-Xfont-varylarge, .icon-pic-away-b-bottom, .icon-pic-away-b-left, .icon-pic-away-b-right, .icon-pic-away-b-top, .icon-pic-away-w-bottom, .icon-pic-away-w-left, .icon-pic-away-w-right, .icon-pic-away-w-top, .icon-pic-close, .Process .ct_box .cp.is-active > .bg-drop-layout > .in .hd .in h4:before, .Process .ct_box .cp.is-active > .in .hd .in h4:before, .icon-pic-ctrl-b-close, .icon-pic-file-type-ai, .icon-pic-file-type-avi, .icon-pic-file-type-bmp, .icon-pic-file-type-cdr, .icon-pic-file-type-css, .icon-pic-file-type-csv, .icon-pic-file-type-doc, .icon-pic-file-type-docx, .icon-pic-file-type-exe, .icon-pic-file-type-gif, .icon-pic-file-type-html, .icon-pic-file-type-ico, .icon-pic-file-type-jpeg, .icon-pic-file-type-jpg, .icon-pic-file-type-js, .icon-pic-file-type-json, .icon-pic-file-type-link, .icon-pic-file-type-md, .icon-pic-file-type-mov, .icon-pic-file-type-mp3, .icon-pic-file-type-mp4, .icon-pic-file-type-odf, .icon-pic-file-type-odp, .icon-pic-file-type-ods, .icon-pic-file-type-odt, .icon-pic-file-type-ogg, .icon-pic-file-type-ogv, .icon-pic-file-type-other, .icon-pic-file-type-pdf, .icon-pic-file-type-png, .icon-pic-file-type-ppt, .icon-pic-file-type-pptx, .icon-pic-file-type-psd, .icon-pic-file-type-rar, .icon-pic-file-type-rss, .icon-pic-file-type-sass, .icon-pic-file-type-svg, .icon-pic-file-type-swf, .icon-pic-file-type-tar, .icon-pic-file-type-tif, .icon-pic-file-type-txt, .icon-pic-file-type-wav, .icon-pic-file-type-webm, .icon-pic-file-type-xls, .icon-pic-file-type-xlsx, .icon-pic-file-type-xml, .icon-pic-file-type-zip, .icon-pic-font-large, .icon-pic-font-medium, .icon-pic-font-smail, .icon-pic-font-varylarge, .icon-pic-icon-w-img, .icon-pic-icon-w-search, .icon-pic-icon-w-video, .icon-pic-in_font-large, .icon-pic-in_font-medium, .icon-pic-in_font-smail, .icon-pic-in_font-varylarge, .icon-pic-nav_icon, .icon-pic-open, .Process .ct_box .cp .in .hd .in h4:before, .icon-pic-s_facebook, .icon-pic-s_google, .icon-pic-s_mail, .icon-pic-s_plurk, .icon-pic-s_print, .icon-pic-s_twitter, .icon-pic-share-w-email, .icon-pic-share-w-facebook, .icon-pic-share-w-google, .icon-pic-share-w-line, .icon-pic-share-w-twitter, .icon-pic-title-bg, .icon-pic-weather-type-01, .icon-pic-weather-type-02, .icon-pic-weather-type-03, .icon-pic-weather-type-04, .icon-pic-weather-type-05, .icon-pic-weather-type-06, .icon-pic-weather-type-07, .icon-pic-weather-type-08, .icon-pic-weather-type-09, .icon-pic-weather-type-10, .icon-pic-weather-type-11, .icon-pic-weather-type-12, .icon-pic-weather-type-13, .icon-pic-weather-type-14, .icon-pic-weather-type-15, .icon-pic-weather-type-16, .icon-pic-weather-type-17, .icon-pic-weather-type-18, .icon-pic-weather-type-19, .icon-pic-weather-type-20, .icon-pic-weather-type-21, .icon-pic-weather-type-22, .icon-pic-weather-type-23, .icon-pic-weather-type-24, .icon-pic-weather-type-25, .icon-pic-weather-type-26, .icon-pic-weather-type-27, .icon-pic-weather-type-28, .icon-pic-weather-type-29, .icon-pic-weather-type-30, .icon-pic-weather-type-31, .icon-pic-weather-type-32, .icon-pic-weather-type-33, .icon-pic-weather-type-34, .icon-pic-weather-type-35, .icon-pic-weather-type-36, .icon-pic-weather-type-37, .icon-pic-weather-type-38, .icon-pic-weather-type-39, .icon-pic-weather-type-40, .icon-pic-weather-type-41, .icon-pic-weather-type-42, .icon-pic-weather-type-43, .icon-pic-weather-type-44, .icon-pic-weather-type-45, .icon-pic-weather-type-46, .icon-pic-weather-type-47, .icon-pic-weather-type-48, .icon-pic-weather-type-49, .icon-pic-weather-type-50, .icon-pic-weather-type-51, .icon-pic-weather-type-52, .icon-pic-weather-type-53, .icon-pic-weather-type-54, .icon-pic-weather-type-55, .icon-pic-weather-type-56, .icon-pic-weather-type-57, .icon-pic-weather-type-58, .icon-pic-weather-type-59, .icon-pic-weather-type-60, .icon-pic-weather-type-61, .icon-pic-weather-type-62, .icon-pic-weather-type-63, .icon-pic-weather-type-64, .icon-pic-weather-type-65 {
  background-image: url('../images/icon-pic-sb93c364f5d.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-Xfont-large {
  background-position: 0 0;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-Xfont-medium {
  background-position: 0 -17px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-Xfont-smail {
  background-position: 0 -34px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-Xfont-varylarge {
  background-position: 0 -51px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-away-b-bottom {
  background-position: 0 -68px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-away-b-left {
  background-position: 0 -84px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-away-b-right {
  background-position: 0 -127px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-away-b-top {
  background-position: 0 -170px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-away-w-bottom {
  background-position: 0 -186px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-away-w-left {
  background-position: 0 -202px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-away-w-right {
  background-position: 0 -245px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-away-w-top {
  background-position: 0 -288px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-close, .Process .ct_box .cp.is-active > .bg-drop-layout > .in .hd .in h4:before, .Process .ct_box .cp.is-active > .in .hd .in h4:before {
  background-position: 0 -304px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-ctrl-b-close {
  background-position: 0 -318px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-ai {
  background-position: 0 -334px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-avi {
  background-position: 0 -354px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-bmp {
  background-position: 0 -374px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-cdr {
  background-position: 0 -394px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-css {
  background-position: 0 -414px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-csv {
  background-position: 0 -434px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-doc {
  background-position: 0 -454px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-docx {
  background-position: 0 -474px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-exe {
  background-position: 0 -494px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-gif {
  background-position: 0 -514px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-html {
  background-position: 0 -534px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-ico {
  background-position: 0 -554px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-jpeg {
  background-position: 0 -574px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-jpg {
  background-position: 0 -594px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-js {
  background-position: 0 -614px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-json {
  background-position: 0 -634px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-link {
  background-position: 0 -654px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-md {
  background-position: 0 -674px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-mov {
  background-position: 0 -694px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-mp3 {
  background-position: 0 -714px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-mp4 {
  background-position: 0 -734px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-odf {
  background-position: 0 -754px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-odp {
  background-position: 0 -774px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-ods {
  background-position: 0 -794px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-odt {
  background-position: 0 -814px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-ogg {
  background-position: 0 -834px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-ogv {
  background-position: 0 -854px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-other {
  background-position: 0 -874px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-pdf {
  background-position: 0 -894px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-png {
  background-position: 0 -914px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-ppt {
  background-position: 0 -934px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-pptx {
  background-position: 0 -954px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-psd {
  background-position: 0 -974px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-rar {
  background-position: 0 -994px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-rss {
  background-position: 0 -1014px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-sass {
  background-position: 0 -1034px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-svg {
  background-position: 0 -1054px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-swf {
  background-position: 0 -1074px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-tar {
  background-position: 0 -1094px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-tif {
  background-position: 0 -1110px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-txt {
  background-position: 0 -1130px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-wav {
  background-position: 0 -1150px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-webm {
  background-position: 0 -1170px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-xls {
  background-position: 0 -1190px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-xlsx {
  background-position: 0 -1210px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-xml {
  background-position: 0 -1230px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-file-type-zip {
  background-position: 0 -1250px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-font-large {
  background-position: 0 -1270px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-font-medium {
  background-position: 0 -1287px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-font-smail {
  background-position: 0 -1304px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-font-varylarge {
  background-position: 0 -1321px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon-w-img {
  background-position: 0 -1338px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon-w-search {
  background-position: 0 -1364px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-icon-w-video {
  background-position: 0 -1380px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-in_font-large {
  background-position: 0 -1406px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-in_font-medium {
  background-position: 0 -1423px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-in_font-smail {
  background-position: 0 -1440px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-in_font-varylarge {
  background-position: 0 -1457px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-nav_icon {
  background-position: 0 -1474px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-open, .Process .ct_box .cp .in .hd .in h4:before {
  background-position: 0 -1497px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_facebook {
  background-position: 0 -1511px;
}
/* line 59, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_facebook:hover, .icon-pic-s_facebook.s_facebook-hover {
  background-position: 0 -1529px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_google {
  background-position: 0 -1547px;
}
/* line 59, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_google:hover, .icon-pic-s_google.s_google-hover {
  background-position: 0 -1565px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_mail {
  background-position: 0 -1583px;
}
/* line 59, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_mail:hover, .icon-pic-s_mail.s_mail-hover {
  background-position: 0 -1601px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_plurk {
  background-position: 0 -1619px;
}
/* line 59, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_plurk:hover, .icon-pic-s_plurk.s_plurk-hover {
  background-position: 0 -1637px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_print {
  background-position: 0 -1655px;
}
/* line 59, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_print:hover, .icon-pic-s_print.s_print-hover {
  background-position: 0 -1673px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_twitter {
  background-position: 0 -1691px;
}
/* line 59, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-s_twitter:hover, .icon-pic-s_twitter.s_twitter-hover {
  background-position: 0 -1709px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-share-w-email {
  background-position: 0 -1727px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-share-w-facebook {
  background-position: 0 -1763px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-share-w-google {
  background-position: 0 -1799px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-share-w-line {
  background-position: 0 -1835px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-share-w-twitter {
  background-position: 0 -1871px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-title-bg {
  background-position: 0 -1907px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-01 {
  background-position: 0 -2053px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-02 {
  background-position: 0 -2098px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-03 {
  background-position: 0 -2143px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-04 {
  background-position: 0 -2188px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-05 {
  background-position: 0 -2233px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-06 {
  background-position: 0 -2278px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-07 {
  background-position: 0 -2323px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-08 {
  background-position: 0 -2368px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-09 {
  background-position: 0 -2413px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-10 {
  background-position: 0 -2458px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-11 {
  background-position: 0 -2503px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-12 {
  background-position: 0 -2548px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-13 {
  background-position: 0 -2593px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-14 {
  background-position: 0 -2638px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-15 {
  background-position: 0 -2683px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-16 {
  background-position: 0 -2728px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-17 {
  background-position: 0 -2773px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-18 {
  background-position: 0 -2818px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-19 {
  background-position: 0 -2863px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-20 {
  background-position: 0 -2908px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-21 {
  background-position: 0 -2953px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-22 {
  background-position: 0 -2998px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-23 {
  background-position: 0 -3043px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-24 {
  background-position: 0 -3088px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-25 {
  background-position: 0 -3133px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-26 {
  background-position: 0 -3178px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-27 {
  background-position: 0 -3223px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-28 {
  background-position: 0 -3268px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-29 {
  background-position: 0 -3313px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-30 {
  background-position: 0 -3358px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-31 {
  background-position: 0 -3403px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-32 {
  background-position: 0 -3448px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-33 {
  background-position: 0 -3493px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-34 {
  background-position: 0 -3538px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-35 {
  background-position: 0 -3583px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-36 {
  background-position: 0 -3628px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-37 {
  background-position: 0 -3673px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-38 {
  background-position: 0 -3718px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-39 {
  background-position: 0 -3763px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-40 {
  background-position: 0 -3808px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-41 {
  background-position: 0 -3853px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-42 {
  background-position: 0 -3898px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-43 {
  background-position: 0 -3943px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-44 {
  background-position: 0 -3988px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-45 {
  background-position: 0 -4033px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-46 {
  background-position: 0 -4078px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-47 {
  background-position: 0 -4123px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-48 {
  background-position: 0 -4168px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-49 {
  background-position: 0 -4213px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-50 {
  background-position: 0 -4258px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-51 {
  background-position: 0 -4303px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-52 {
  background-position: 0 -4348px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-53 {
  background-position: 0 -4393px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-54 {
  background-position: 0 -4438px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-55 {
  background-position: 0 -4483px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-56 {
  background-position: 0 -4528px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-57 {
  background-position: 0 -4573px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-58 {
  background-position: 0 -4618px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-59 {
  background-position: 0 -4663px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-60 {
  background-position: 0 -4708px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-61 {
  background-position: 0 -4753px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-62 {
  background-position: 0 -4798px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-63 {
  background-position: 0 -4843px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-64 {
  background-position: 0 -4888px;
}

/* line 84, C:/Users/bibi627/Desktop/fire.app.windows.1.14/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pic-weather-type-65 {
  background-position: 0 -4933px;
}

/* line 13, ../sass/page.scss */
.group .search-tool {
  display: block;
}
@media (max-width: 768px) {
  /* line 13, ../sass/page.scss */
  .group .search-tool {
    display: none;
  }
}
/* line 44, ../sass/page.scss */
.group .search-tool > .bg-drop-layout > .in > .ct, .group .search-tool > .in > .ct {
  background-image: url('../images/../Images/page_bg.jpg?1477466635');
  background-repeat: no-repeat;
  background-position: center;
  width: 1990px;
  height: 195px;
  background-color: #e6e3de;
  width: 100%;
}
@media (max-width: 768px) and (min-width: 561px) {
  /* line 44, ../sass/page.scss */
  .group .search-tool > .bg-drop-layout > .in > .ct, .group .search-tool > .in > .ct {
    background-image: url('../images/../Images/page_bg_pad.jpg?1481164160');
    background-repeat: no-repeat;
    background-position: center;
    width: 768px;
    height: 195px;
    width: 100%;
  }
}
@media (max-width: 560px) {
  /* line 44, ../sass/page.scss */
  .group .search-tool > .bg-drop-layout > .in > .ct, .group .search-tool > .in > .ct {
    background-image: url('../images/../Images/page_bg_ph.jpg?1481164091');
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
    height: 195px;
    width: 100%;
  }
}

/* line 290, ../sass/page.scss */
.Process .hd_box {
  border-left: #e6e6e6 solid 10px;
}
/* line 295, ../sass/page.scss */
.Process .hd_box p {
  margin-left: 15px;
}
/* line 300, ../sass/page.scss */
.Process .hd_box ul {
  color: #1996f3;
}
/* line 305, ../sass/page.scss */
.Process .hd_box ul li a {
  color: #1996f3;
}
/* line 308, ../sass/page.scss */
.Process .hd_box ul li a:hover {
  text-decoration: underline;
  color: #017aca;
}
/* line 330, ../sass/page.scss */
.Process > ul {
  color: #fe8300;
  margin-left: 15px;
}
/* line 335, ../sass/page.scss */
.Process > ul li {
  color: #fe8300;
}
/* line 339, ../sass/page.scss */
.Process > ul li a {
  color: #fe8300;
}
/* line 342, ../sass/page.scss */
.Process > ul li a:hover {
  text-decoration: underline;
  color: #e77b07;
}
/* line 369, ../sass/page.scss */
.Process .ct_box .cp.is-active > .bg-drop-layout > .in .hd .in h4, .Process .ct_box .cp.is-active > .in .hd .in h4 {
  margin: 0px;
  border-bottom: none;
  line-height: 2;
}
/* line 374, ../sass/page.scss */
.Process .ct_box .cp.is-active > .bg-drop-layout > .in .hd .in h4:before, .Process .ct_box .cp.is-active > .in .hd .in h4:before {
  width: 16px;
  height: 14px;
}
/* line 380, ../sass/page.scss */
.Process .ct_box .cp.is-active > .bg-drop-layout > .in .hd .in h4 span a, .Process .ct_box .cp.is-active > .in .hd .in h4 span a {
  color: #fe8300;
  font-size: initial;
  line-height: 2;
}
/* line 386, ../sass/page.scss */
.Process .ct_box .cp.is-active > .bg-drop-layout > .in .hd .in h4 span a p, .Process .ct_box .cp.is-active > .in .hd .in h4 span a p {
  color: #343434;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}
/* line 401, ../sass/page.scss */
.Process .ct_box .cp.is-active > .bg-drop-layout > .in .ct, .Process .ct_box .cp.is-active > .in .ct {
  display: block;
}
/* line 404, ../sass/page.scss */
.Process .ct_box .cp.is-active > .bg-drop-layout > .in .ct a, .Process .ct_box .cp.is-active > .in .ct a {
  display: inline-block;
  color: #017aca;
  text-decoration: underline;
  padding: 0px;
}
/* line 410, ../sass/page.scss */
.Process .ct_box .cp.is-active > .bg-drop-layout > .in .ct a:hover, .Process .ct_box .cp.is-active > .in .ct a:hover {
  text-decoration: none;
  color: #01559d;
  background-color: none;
}
/* line 432, ../sass/page.scss */
.Process .ct_box .cp.is-active > .bg-drop-layout > .in .ft li.more a:before, .Process .ct_box .cp.is-active > .in .ft li.more a:before {
  content: 'close';
}
/* line 448, ../sass/page.scss */
.Process .ct_box .cp .in .hd .in h4 {
  margin: 0px;
  border-bottom: none;
  line-height: 2;
}
/* line 454, ../sass/page.scss */
.Process .ct_box .cp .in .hd .in h4:before {
  display: block;
  float: left;
  width: 16px;
  height: 14px;
  margin-top: 8px;
}
/* line 464, ../sass/page.scss */
.Process .ct_box .cp .in .hd .in h4 span a {
  color: #fe8300;
  font-size: initial;
  line-height: 2;
}
/* line 470, ../sass/page.scss */
.Process .ct_box .cp .in .hd .in h4 span a p {
  color: #343434;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}
/* line 484, ../sass/page.scss */
.Process .ct_box .cp .in .hd .in > p span a {
  color: #343434 !important;
  text-decoration: none;
  padding-left: 15px;
}
/* line 495, ../sass/page.scss */
.Process .ct_box .cp .in .ct {
  display: none;
}
/* line 58, ../sass/_base_function.scss */
[data-js="false"] .Process .ct_box .cp .in .ct {
  display: block;
}
/* line 506, ../sass/page.scss */
.Process .ct_box .cp .in .ct .in h5 {
  margin: 8px;
  font-size: 1em;
  color: #909095;
}
/* line 513, ../sass/page.scss */
.Process .ct_box .cp .in .ct .in .no-bold {
  font-weight: inherit;
}
/* line 517, ../sass/page.scss */
.Process .ct_box .cp .in .ct .in .no-bg {
  background-color: inherit;
}
/* line 521, ../sass/page.scss */
.Process .ct_box .cp .in .ct .in p {
  margin: 0px 5px;
  font-size: 1em;
  padding: 0.9em 1em;
  line-height: 2;
  display: block;
  background-color: #f9f9f9;
  border-radius: 0.5em;
}
/* line 531, ../sass/page.scss */
.Process .ct_box .cp .in .ct .in p a {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  color: #017aca;
  text-decoration: underline;
}
/* line 538, ../sass/page.scss */
.Process .ct_box .cp .in .ct .in p a:hover {
  text-decoration: none;
  color: #01559d;
  background-color: none;
}
/* line 553, ../sass/page.scss */
.Process .ct_box .cp .in .ct .in ul {
  margin: 0px 5px;
  background-color: #f9f9f9;
  border-radius: 0.5em;
  padding: 0.9em 1em;
  line-height: 2;
  list-style-type: none;
}
/* line 563, ../sass/page.scss */
.Process .ct_box .cp .in .ct .in ul li p {
  margin: 0px;
  padding: 0px 30px;
  color: #909095;
  line-height: 1.6;
}
/* line 597, ../sass/page.scss */
.Process .ct_box2 .cp.is-active > .bg-drop-layout > .in .hd .in h4, .Process .ct_box2 .cp.is-active > .in .hd .in h4 {
  margin: 0px;
  border-bottom: none;
  line-height: 2;
}
/* line 608, ../sass/page.scss */
.Process .ct_box2 .cp.is-active > .bg-drop-layout > .in .hd .in h4 span a, .Process .ct_box2 .cp.is-active > .in .hd .in h4 span a {
  color: #343434;
  font-size: initial;
  line-height: 2;
}
/* line 614, ../sass/page.scss */
.Process .ct_box2 .cp.is-active > .bg-drop-layout > .in .hd .in h4 span a p, .Process .ct_box2 .cp.is-active > .in .hd .in h4 span a p {
  color: #343434;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}
/* line 629, ../sass/page.scss */
.Process .ct_box2 .cp.is-active > .bg-drop-layout > .in .ct, .Process .ct_box2 .cp.is-active > .in .ct {
  display: block;
}
/* line 632, ../sass/page.scss */
.Process .ct_box2 .cp.is-active > .bg-drop-layout > .in .ct a, .Process .ct_box2 .cp.is-active > .in .ct a {
  display: inline-block;
  color: #017aca;
  text-decoration: underline;
  padding: 0px;
}
/* line 638, ../sass/page.scss */
.Process .ct_box2 .cp.is-active > .bg-drop-layout > .in .ct a:hover, .Process .ct_box2 .cp.is-active > .in .ct a:hover {
  text-decoration: none;
  color: #01559d;
  background-color: none;
}
/* line 660, ../sass/page.scss */
.Process .ct_box2 .cp.is-active > .bg-drop-layout > .in .ft li.more a:before, .Process .ct_box2 .cp.is-active > .in .ft li.more a:before {
  content: 'close';
}
/* line 676, ../sass/page.scss */
.Process .ct_box2 .cp .in .hd .in h4 {
  margin: 0px;
  border-bottom: none;
  line-height: 2;
}
/* line 682, ../sass/page.scss */
.Process .ct_box2 .cp .in .hd .in h4:before {
  display: block;
  float: left;
  margin-top: 8px;
}
/* line 692, ../sass/page.scss */
.Process .ct_box2 .cp .in .hd .in h4 span a {
  color: #343434;
  font-size: initial;
  line-height: 2;
}
/* line 698, ../sass/page.scss */
.Process .ct_box2 .cp .in .hd .in h4 span a p {
  color: #343434;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}
/* line 712, ../sass/page.scss */
.Process .ct_box2 .cp .in .hd .in > p span a {
  color: #343434 !important;
  text-decoration: none;
  padding-left: 15px;
}
/* line 723, ../sass/page.scss */
.Process .ct_box2 .cp .in .ct {
  display: none;
}
/* line 58, ../sass/_base_function.scss */
[data-js="false"] .Process .ct_box2 .cp .in .ct {
  display: block;
}
/* line 733, ../sass/page.scss */
.Process .ct_box2 .cp .in .ct .in h5 {
  margin: 8px;
  font-size: 1em;
}
/* line 739, ../sass/page.scss */
.Process .ct_box2 .cp .in .ct .in p {
  margin: 0px 5px;
  font-size: 1em;
  background-color: #f9f9f9;
  border-radius: 0.5em;
  padding: 0.9em 1em;
  line-height: 2;
}
/* line 748, ../sass/page.scss */
.Process .ct_box2 .cp .in .ct .in p a {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  color: #017aca;
  text-decoration: underline;
}
/* line 755, ../sass/page.scss */
.Process .ct_box2 .cp .in .ct .in p a:hover {
  text-decoration: none;
  color: #01559d;
  background-color: none;
}
/* line 763, ../sass/page.scss */
.Process .ct_box2 .cp .in .ct .in ul {
  margin: 0px 5px;
  background-color: #f9f9f9;
  border-radius: 0.5em;
  padding: 0.9em 1em;
  line-height: 2;
  list-style-type: none;
}
/* line 773, ../sass/page.scss */
.Process .ct_box2 .cp .in .ct .in ul li p {
  margin: 0px;
  padding: 0px 30px;
  color: #909095;
  line-height: 1.6;
}
/* line 793, ../sass/page.scss */
.Process .ft_box {
  border-top: #e6e6e6 solid 1px;
  padding-left: 15px;
}
/* line 798, ../sass/page.scss */
.Process .ft_box h5 {
  font-size: 15px;
}
/* line 804, ../sass/page.scss */
.Process .ft_box ul {
  margin: 0px;
  padding: 0 30px;
  list-style-type: none;
}

/* line 818, ../sass/page.scss */
.base-header .font-size {
  display: none !important;
}

/* line 831, ../sass/page.scss */
.p-hearder {
  display: block;
}
/* line 839, ../sass/page.scss */
.p-hearder .group-list.nav {
  margin-left: 212px;
}
/* line 845, ../sass/page.scss */
.p-hearder .simple-text.major-logo .ct a {
  background-image: url('../images/p_major_logo.png?1510211167');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 212px;
  height: 90px;
}
@media (max-width: 768px) {
  /* line 845, ../sass/page.scss */
  .p-hearder .simple-text.major-logo .ct a {
    width: auto;
    padding-bottom: 0px;
    margin-left: 40px;
  }
}
/* line 867, ../sass/page.scss */
.p-hearder .base-header .group.nav > .in > .hd a {
  line-height: 90px;
}

/*# sourceMappingURL=page.css.map */
